.Menu {
    margin-top: 10px;
    margin-left: 10px;
    display: grid;
}

.Menu a{
    vertical-align: bottom;
}

.Menu a:link {
    color: #ff1829;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.Menu a:visited {
    color: #ff1829;
    text-decoration: none;
}

.Menu a:hover {
    color: white;
}

.Menu a:active {
    color: #ff541e;
}

.Menu img {
    width: 26px;
    height: 26px;
    /*margin-bottom: 5px;*/
    margin-right: 7px;
    vertical-align: bottom;
}